.page-reference-popup
{
	display: none;

	input
	{
		display: block;
	}
}
.toastui-editor-popup-body .page-reference-popup
{
	display: block;
}

button.toastui-editor-toolbar-icons.reference
{
	font-size: 1em!important;
}
